.stacker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: relative;

  height: 115%;
  margin-top: 20px;
}
.stakcer__top {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;

  width: 405px;

  min-height: 270px;
}

.stakcer__top h1 {
  font-size: 2rem;
  font-weight: 700;
}
.stacker__showUser {
  margin-block: 20px;

  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.top__username {
  padding: 5px;
  padding-inline: 10px;
  background-color: #2eff2e;

  border-radius: 5px;
}
.stacker__instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 8px;
  padding-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;

  font-weight: 500px;
}
.stacker__instructions div {
  text-indent: 15px;
}
.stacker__instructions p {
  position: relative;
}
.stacker__instructions p::after {
  content: "";

  position: absolute;
  top: 8px;
  right: -15px;

  width: 10px;
  height: 10px;

  border-radius: 50%;
}
.stacker__instructions p:nth-child(2):after {
  background-color: rgb(50, 59, 235);
}
.stacker__instructions p:last-child:after {
  background-color: rgb(249, 56, 56);
}
.stakcer__top button {
  position: absolute;
  bottom: 0;
  right: 0;

  border: 1px solid #eccecc;
  padding-inline: 10px;

  cursor: pointer;
  border-radius: 5px;
}

.stacker__timer {
  display: grid;
  place-items: center;

  min-width: 50px;
  min-height: 50px;
  margin-block: 5px;

  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 50%;

  color: rgb(24, 27, 27);
}

.stacker__timer[data-turn="false"] {
  background-color: #ff200fcf;
}
.stacker__timer[data-turn="true"] {
  background-color: #00ff11c4;
}
.unusedCount {
  display: grid;
  place-items: center;

  position: absolute;
  left: 0;
  bottom: 0;

  height: 35px;
  padding-inline: 10px;
  background-color: aqua;

  color: rgb(0, 0, 0);
  font-weight: 500;

  border-radius: 5px;
}

.stacker__row {
  display: flex;
  gap: 15px;

  margin-bottom: 15px;
}

.stacker__item {
  width: 45px;
  height: 45px;
  border: 1px solid #cccccc;

  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;

  outline-width: 0;

  caret-color: transparent;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
  transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 450px) {
  .stacker__item {
    width: 35px;
    height: 35px;
  }
  .stakcer__top {
    width: 335px;
  }
}

.user {
  border: 1px solid rgb(73, 81, 224);

  box-shadow: rgb(73 81 224 / 50%) 0px 0px 7px;
}

.opponent {
  border: 1px solid rgb(232, 77, 77);

  box-shadow: rgb(232 77 77 / 50%) 0px 0px 7px;
}
#userWon {
  border: 1px solid #2eff2e;
  background-color: #2eff2e;

  box-shadow: rgba(111, 255, 111, 1) 0px 0px 14px;
}

#OpponentWon {
  border: 1px solid rgb(232, 77, 77);
  background-color: rgb(232, 77, 77);

  box-shadow: rgb(232 77 77 / 50%) 0px 0px 7px;
}

.stacker__item:not(:disabled):hover {
  border: 1px solid rgb(145, 227, 145);

  box-shadow: rgb(145 227 145 / 50%) 0px 0px 14px;
}

.stacker__item:disabled {
  background-color: white;

  color: black;
}
.stacker__item:focus {
  border: 1px solid rgb(145, 227, 145);

  box-shadow: rgb(145 227 145 / 50%) 0px 0px 14px;
}

.onlineUsers {
  position: absolute;
  right: 150px;
  top: 150px;

  width: 250px;
  border: 2px solid greenyellow;
  padding-inline: 20px;
  padding-block: 10px;

  border-radius: 5px;

  transition: all 300ms ease-in-out;
}
.onlineUsers h2 {
  font-size: 1.3rem;
  font-weight: 600;

  border-bottom: 2px solid greenyellow;
}
.onlineUsers ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 10px;
}
.onlineUsers li {
  padding-bottom: 3px;
  border-bottom: 1px solid #e2e2e2;

  cursor: pointer;
  list-style-type: none;
}

.showOnlineUsers {
  display: none;
  place-items: center;

  position: absolute;
  top: 180px;
  right: 12px;

  width: 35px;
  height: 35px;
  padding: 3px;

  border: 1px solid #e2e2e2;

  fill: rgb(0, 255, 26);

  border-radius: 50%;
}

.showOnlineUsers::after {
  content: "";
  position: absolute;

  min-width: 7px;
  min-height: 7px;

  background-color: green;
  top: 0px;
  left: 0px;

  border-radius: 50%;
}

.onlineUsers[data-show="true"] {
  height: fit-content;

  border: 2px solid greenyellow;
  padding-inline: 20px;
  padding-block: 10px;
}

@media only screen and (max-width: 1250px) {
  .onlineUsers {
    right: 50px;
    top: 123px;

    width: 280px;

    height: 0px;
    overflow: hidden;
    border: 0px solid greenyellow;
    padding: 0;

    background-color: white;
  }
  .showOnlineUsers {
    display: grid;
  }
}

.stacker__turn {
  position: absolute;
  top: 225px;

  padding: 5px;
  padding-inline: 10px;
  border-radius: 8px;
  background-color: white;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.stacker__turn[data-anim="true"] {
  animation: inAnimation 300ms ease-in;
}
@keyframes inAnimation {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 100%;
    opacity: 100%;
  }
}

.stacker__turn[data-anim="false"] {
  animation: outAnimation 300ms ease-in;
}

@keyframes outAnimation {
  0% {
    scale: 100%;
    opacity: 100%;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

.stackerTop__wrapper {
  position: relative;
}

.stacker__select {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 120%;
  height: 30px;
  background-color: white;

  border-radius: 10px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;

  font-size: 1.2rem;
  font-weight: 500;

  transition: all 500ms ease-in-out;
}

.stacker__item:not(:disabled):hover + .stacker__select {
  opacity: 1;
  top: -10px;
  visibility: visible;
}

.stacker__select:hover {
  opacity: 1;
  top: -10px;
  visibility: visible;
}

.stackerTop__wrapper:has(.stacker__select:hover) > .stacker__item {
  border: 1px solid rgb(145, 227, 145);

  box-shadow: rgb(145 227 145 / 50%) 0px 0px 14px;
}

.stacker__select div {
  position: relative;
  width: 50%;
  display: grid;
  place-items: center;

  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.stacker__select div:hover {
  background-color: #2eff2e;
}
.stacker__select div:first-child::after {
  content: "";

  position: absolute;
  right: 0;

  width: 1px;
  background-color: black;
  height: 75%;
}
