.stacker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: relative;

  height: 115%;
  margin-top: 20px;
}

.stacker__row {
  display: flex;
  gap: 15px;

  margin-bottom: 15px;
}
